// Page hader
.header {
  padding: 50px 0px 10px 0px;
  text-align: center;

  p {
    a {
      text-decoration: underline;
    }
  }
}

// Media container
.container {
  padding: 30px 30px;
}

// Responsiveness
@media screen and (max-width: 750px) {
  .container {
    // Reduce left/right padding on mobile displays
    padding: 30px 12px;
  }
}
