// Page hader
.header {
  padding: 40px 30px 30px 30px;
  max-width: 1460px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  align-items: center;
  position: sticky;
  top: 0px;

  div {
    width: auto;
    flex: 1 1 40%;
    display: flex;
    align-items: center;
  }

  .header__logo {
    justify-content: flex-start;

    a {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .header__menu {
    justify-content: flex-end;
  }
}

// Media container
.container {
  padding: 0px 30px 30px 30px;
}

// Responsiveness
@media screen and (max-width: 750px) {
  .container {
    // Reduce left/right padding on mobile displays
    padding: 30px 12px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding-left: 12px;
    padding-right: 12px;
  }
}
